@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overview-background {
    background-image: url("https://cdn.10minuteschool.com/images/ui_%281%29_1716445506383.jpeg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 650px;
    z-index: 1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-navigation-size: 15px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* react swiper style */

.swiper-button-prev,
.swiper-button-next {
  color: rgb(162, 159, 159) !important;
  background: white !important;
  padding: 14px;
  border-radius: 50%;
  font-weight: bold;
}
.swiper-slide {
  /* height: 30px !important;
  width: 50px !important; */
}

.swiper-slide-thumb-active {
  border: 3px solid green;
  border-radius: 5px;
}

.swipper-thumbs {
  margin-top: 15px !important;
  margin-left: 15px !important;
}

.swiper-slide-visible {
  height: 30px !important;
  width: 55px !important;
}
